.mid-nav.index {
    width: 100%;
    background: #fafbfb;
    height: 170px;
    padding-top: 20px;
}

.index.mid-nav .mid-nav-inner {
    width: 768px;
    margin: 0 auto;
    height: 100%;
    li {
        float: left;
        list-style: none;
        width: 100px;
        height: 100%;
        text-align: center;
        &.active {
            border-bottom: 4px solid #5386d4;
        }
        a {
            display: inline-block;
            width: 100%;
            height: 100%
        }
        p {
            color: #000;
            font-size: 16px;
            padding-top: 12px
        }
    }
}

.index.mid-nav .mid-nav-inner {
    li.one img {
        position: relative;
        top: 15px
    }
    li.one p {
        position: relative;
        top: 20px
    }
    li.two img {
        position: relative;
        top: 11px
    }
    li.two p {
        position: relative;
        top: 13px
    }
    li.two {
        margin-left: 230px
    }
    li.three {
        margin-left: 230px
    }
}